* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden !important;
}

#particles-js {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -999999;
}
#whatsapp {
  width: 6vmax;
}
#calendar {
  width: 4vmax;
}
nav {
  background: none;
  height: 100px;
  width: 100vw;
  z-index: 1000000;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 100px;
  transition: all 0.3s ease;
  text-align: left;
  top: 0px;
}
nav .logo {
  display: flex;
  align-items: center;
  z-index: 12;
  text-decoration: none;
  color: #686868;
  font-weight: bold;
}
nav .logo img {
  height: 70px;
}
nav .logo .text {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  text-align: right;
}
nav .logo .text span {
  font-family: "Rajdhani", sans-serif;
}
nav #check {
  display: none;
  position: absolute;
  height: 0;
  opacity: 0;
}
nav .checkbtn {
  display: none;
  z-index: 12;
}
nav ul {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
}
nav ul li {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  list-style: none;
  margin: 0 5px;
  letter-spacing: 1px;
  cursor: pointer;
}
nav ul li a {
  transition: all 0.2s ease-in-out;
  color: #a7a7a7;
}
nav ul li a:hover {
  color: lightgreen;
}
nav ul li .fal {
  display: none;
}
nav.scroll {
  background: white;
  border-bottom: 2px solid var(--color-cement);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.288);
}
nav.scroll ul li {
  color: #686868;
}

@media (max-width: 1000px) {
  nav {
    padding: 0 50px;
  }
  nav .logo .text {
    display: none;
  }
  nav ul li {
    font-size: small;
  }
}
@media (max-width: 768px) {
  nav {
    background: white;
    border-bottom: 2px solid var(--color-cement);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.288);
  }
  nav .checkbtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 80px;
    height: 80px;
    transition: all 0.5s ease-in-out;
  }
  nav .checkbtn .hamburger {
    width: 50px;
    height: 6px;
    background-color: lightgreen;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(104, 104, 104, 0.3);
    transition: all 0.5s ease-in-out;
  }
  nav .checkbtn .hamburger::before,
  nav .checkbtn .hamburger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: lightgreen;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  nav .checkbtn .hamburger::before {
    transform: translateY(-16px);
  }
  nav .checkbtn .hamburger::after {
    transform: translateY(16px);
  }
  nav #check:checked + .checkbtn .hamburger {
    box-shadow: none;
    transform: translateX(-50px);
    background-color: transparent;
    transition: all 0.5s ease-in-out;
  }
  nav #check:checked + .checkbtn .hamburger:before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  nav #check:checked + .checkbtn .hamburger:after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  nav ul {
    position: fixed;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    top: 0;
    left: -100vw;
    overflow: hidden;
    transition: all 0.3s ease;
    background-color: white;
    border-right: 2px solid var(--color-cement);
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.288);
    margin-top: 100px;
    padding-top: 20px;
  }
  nav ul li {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    margin-bottom: 25px;
  }
  nav ul li a {
    font-size: large;
  }
  nav ul li .fal {
    width: 50px;
    display: block;
    margin: 0 20px 0 30px;
  }
  nav #check:checked ~ ul {
    left: 0;
  }
}
@media (max-width: 460px) {
  nav ul {
    width: 85vw;
  }
  nav ul li {
    margin-bottom: 20px;
  }
  nav ul li .fal {
    margin: 0 5px 0 30px;
  }
  nav ul li i {
    font-size: large;
  }
  nav ul li a {
    font-size: large;
  }
  nav ul li .login .not-login {
    display: flex;
  }
  nav ul li .login .not-login .fal {
    margin-right: 0;
    margin-left: 0;
  }
}
footer {
  width: 100%;
  background-color: #323232;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .logo {
  margin: 20px 0;
  display: flex;
  align-items: center;
  z-index: 8;
  text-decoration: none;
  color: #a7a7a7;
  font-weight: bold;
}
footer .logo img {
  height: 70px;
}
footer .logo .text {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  text-align: right;
}
footer .logo .text span {
  font-family: "Rajdhani", sans-serif;
}
footer .links {
  width: 50%;
  display: flex;
  justify-content: center;
  font-family: "Rajdhani", sans-serif;
  font-size: large;
  font-weight: bold;
}
footer .links span {
  margin: 0 10px;
  cursor: pointer;
}
footer .social {
  display: flex;
  margin: 15px 0;
}
footer .social i {
  margin: 0 10px;
  font-size: x-large;
}
footer .ittech {
  margin: 30px 0;
  font-family: "Roboto", sans-serif;
}
footer .ittech a,
footer .ittech a:active,
footer .ittech a:visited {
  text-decoration: none;
  color: inherit;
}
#edificio {
  transition: 1s;
}
#edificio:hover {
  transform: scale(3);
  box-shadow: 0.3vw 0.3vw 1.5vw black;
}

@media (max-width: 768px) {
  footer .links {
    width: 100%;
  }
}
@media (max-width: 576px) {
  #whatsapp {
    width: 8vmax;
  }
  #calendar {
    width: 10vmax;
  }
  #whatsapp2 {
    width: 8vmax;
  }
  footer .links {
    flex-direction: column;
    align-items: center;
  }
  footer .links span {
    margin: 10px 0;
  }
}
.section-principal {
  height: 100vh;
  width: 100vw;
}

.section-principal .splide__slide {
  margin-top: 0vh;
  height: 80vh;
}

.section-principal .splide__slide .img-principal-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.section-principal .splide__slide .img-principal-container img {
  margin-top: 100px;
  object-fit: cover;
  max-height: 300px;
  width: 100%;
}
.section-principal .text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10vw;
  font-family: "PT Sans Narrow", sans-serif;
}
.section-principal .text-container .text-content {
  color: white;
}
.section-principal .text-container .text-content h2 {
  font-family: "Rajdhani", sans-serif;
  font-size: 45px;
}
.section-principal .text-container .text-content h3 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}
.section-principal .text-container .text-content.desc {
  color: white;
  text-align: center;
}
.section-principal .text-container .text-content.desc h2 {
  font-size: x-large;
  margin-bottom: 10px;
}
.section-principal .text-container .text-content.desc h3 {
  font-size: large;
  margin-bottom: 5px;
}
.section-principal .text-container .text-content.desc p {
  text-align: left;
  font-size: medium;
}
.section-principal .text-container .text-content.desc p.foot {
  margin-top: 25px;
  font-size: small;
  text-align: center;
}
.section-principal .text-container.left .text-content {
  position: absolute;
  top: 20vh;
  margin-top: 100px;
  left: 0;
  top: 0%;
  width: 26%;
  padding: 0 2vw 100px 2vw;
  background-color: rgba(144, 238, 144, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-principal .text-container.right .text-content {
  position: absolute;
  right: 0;
  top: 20vh;
  margin-top: 100px;
  top: 0vh;
  padding: 0 2vw 100px 2vw;
  background-color: rgba(144, 238, 144, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-principal .text-container.down .text-content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  padding: 0 30px;
  background-color: rgba(144, 238, 144, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-principal .text-container.up .text-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20%;
  padding: 0 30px;
  background-color: rgba(144, 238, 144, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-principal .text-container.total .text-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  background-color: rgba(144, 238, 144, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .section-principal .text-container {
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    padding-top: 30vh;
    text-align: center;
    width: 100%;
  }
  .section-principal .text-container h1 {
    width: 100%;
  }
  .section-principal .text-container.left .text-content {
    width: 40%;
    padding: 0 15px;
  }
  .section-principal .text-container.right .text-content {
    width: 40%;
    padding: 0 15px;
  }
  .section-principal .text-container.down .text-content {
    height: 25%;
    padding: 15px;
  }
  .section-principal .splide__slide .img-principal-container {
    justify-content: flex-end;
    align-items: center;
  }
  .section-principal .splide__slide .img-principal-container img {
    height: 100vh;
    object-fit: cover;
  }
}
@media (max-width: 576px) {
  .section-principal .text-container .text-content {
    color: white;
  }
  .section-principal .text-container .text-content h2 {
    font-size: 30px;
  }
  .section-principal .text-container .text-content h3 {
    font-size: 18px;
  }
  .section-principal .text-container .text-content.desc {
    color: white;
  }
  .section-principal .text-container .text-content.desc h2 {
    font-size: large;
  }
  .section-principal .text-container .text-content.desc h3 {
    font-size: medium;
  }
  .section-principal .text-container .text-content.desc p {
    font-size: small;
  }
  .section-principal .text-container .text-content.desc p.foot {
    font-size: x-small;
  }
  .section-principal .text-container.left .text-content {
    width: 50%;
    padding: 0 15px;
  }
  .section-principal .text-container.right .text-content {
    width: 50%;
    padding: 0 15px;
  }
  .section-principal .text-container.down .text-content {
    height: 25%;
    padding: 15px;
  }
}

.floating-logo-wpp {
  position: fixed;
  z-index: 999;
  bottom: 25px;
  right: 25px;
  width: 5vmax;
  transition: 1s;
  background: rgba(144, 238, 144, 0.8);
  padding: 0.5vmax;
  border-radius: 50%;
}

.floating-logo-wpp:hover {
  transform: scale(1.1);
}

.section-info {
  margin: 50px 0;
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-info .container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.section-info .container .container-green {
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-bottom: 0px;
  width: 30%;
  z-index: 9;
}
.section-info .container .container-green h3 {
  font-family: "Rajdhani", sans-serif;
  font-size: 36px;
  font-weight: 900;
  color: white;
  text-align: center;
}

.section-videos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.section-videos .container .videos {
  width: 100vw;
  margin-top: -1%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.section-videos {
  margin-top: 5vh;
}

.section-videos iframe {
  z-index: 100;
  width: 30vw;
  height: 17vw;
  margin: 1vw;
}

.section-videos .container .container-green {
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  border-radius: 40%;
  padding: 5px 20px 5px 20px;
  margin-bottom: 30px;
  width: auto;
  z-index: 9;
}
.section-videos .container .container-green h3 {
  font-family: "Rajdhani", sans-serif;
  font-size: 36px;
  font-weight: 900;
  color: white;
  text-align: center;
}

#toggleVideos:hover {
  transform: scale(1.1);
}

.section-info .container .container-text {
  margin-top: 0px;
  background-color: white;
  width: 70%;
  padding: 5% 5% 5% 10%;
  box-shadow: 0 0 10px silver;
  line-height: 1.5;
}
.section-info .container .container-text p {
  font-family: "Nunito", sans-serif;
}
.section-info .container img {
  position: absolute;
  align-self: flex-end;
  margin-left: 15px;
  z-index: 10;
}

#showVideos {
  width: 100vw;
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .section-info {
    margin-top: 200px;
  }
  .section-info .container {
    width: 80%;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20vh;
  }
  .section-info .container .container-green {
    width: auto;
    margin: 0;
    padding: 10px 15px;
    transform: translateX(10%) translateY(50%);
  }
  .section-info .container .container-text {
    margin: 0;
    padding: 20px;
    padding-bottom: 275px;
    width: 100%;
  }
  .section-info .container .container-text p {
    margin-top: 40px;
  }
  .section-info .container img {
    display: none;
  }
}
@media (max-width: 576px) {
  .floating-logo-wpp {
    width: 2.5vmax;
  }
  .section-info {
    margin-top: 50px;
    margin-bottom: -146px;
  }
  .section-info .container {
    width: 90%;
    align-items: center;
  }
  .section-info .container .container-green {
    transform: none;
    transform: translateY(50%);
  }
  .section-info .container .container-green h3 {
    font-size: x-large;
  }
  .section-info .container .container-text {
    padding: 40px;
    padding-bottom: 275px;
    margin: 0;
    width: 100%;
  }
  .section-info .container .container-text p {
    margin-top: 40px;
  }
}
.section-stats {
  margin-top: 6vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-stats .box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.section-stats .box .title {
  background-color: lightgreen;
  padding: 5px 30px 5px 30px;
  font-family: "Rajdhani", sans-serif;
  font-size: 36px;
  font-weight: 900;
  color: white;
  text-align: center;
}
.section-stats .box .content {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px silver;
  padding: 30px;
}
.section-stats .box .content p {
  margin: 20px 0;
  font-size: x-large;
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  color: silver;
}
.section-stats .box .content .odonto-no {
  display: flex;
  justify-content: space-around;
}
.section-stats .box .content .odonto-no .top {
  display: flex;
  flex-direction: column;
  padding-left: 3%;
}
.section-stats .box .content .odonto-no .top .field {
  font-family: "Roboto", sans-serif;
  margin: 10px 0;
  padding: 5px 15px;
  box-shadow: 0 0 10px rgba(192, 192, 192, 0.3);
  border-radius: 15px;
}
.section-stats .box .content .odonto-no .top .field.focus {
  background-color: lightgreen;
  color: white;
}
.section-stats .box .content .odonto-no .warning-box {
  width: 50%;
}
.section-stats .box .content .odonto-no .warning-box .box {
  background-color: lightgrey;
  border-radius: 15px;
  width: 100%;
  padding: 20px;
  font-family: "Nunito", sans-serif;
}
.section-stats .box .content .percent {
  width: 100%;
  display: flex;
  padding: 30px 0;
}
.section-stats .box .content .percent .chart-container {
  height: 100% !important;
  width: 33%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Nunito", sans-serif;
  text-align: center;
}
.section-stats .box .content .percent .chart-container .chart {
  width: 200px !important;
  height: 200px !important;
}
.section-stats .box .content .percent .chart-container .desc {
  font-size: medium;
  margin: 10px 0;
}
.section-stats .box .content .percent .chart-container .fuente {
  font-size: small;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .section-stats .box {
    width: 80%;
  }
  .section-stats .box .content .odonto-no {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .section-stats .box .content .odonto-no .top {
    width: 50%;
  }
  .section-stats .box .content .percent {
    flex-direction: column;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .section-stats .box {
    width: 90%;
  }
  .section-stats .box .content {
    padding: 40px;
  }
  .section-stats .box .content .odonto-no {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .section-stats .box .content .odonto-no .top {
    width: 100%;
  }
  .section-stats .box .content .odonto-no .warning-box {
    width: 100%;
  }
  .section-stats .box .content .percent {
    flex-direction: column;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .section-stats .box .content .percent .chart-container {
    width: 100%;
  }
}
.section-aboutme {
  margin: 50px 0;
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-aboutme .container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.section-aboutme .container .img-r {
  display: none;
}
.section-aboutme .container .container-green {
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  margin-bottom: 0px;
  margin-top: 0%;
  width: 30%;
  position: relative;
}
.section-aboutme .container .container-green h3 {
  font-family: "Rajdhani", sans-serif;
  font-size: 36px;
  font-weight: 900;
  color: white;
  text-align: center;
}
.section-aboutme .container .container-green img {
  position: relative;
  transform: translateX(-40%) translateY(50px);
  width: 200px;
}
.section-aboutme .container .container-text {
  margin-top: 0px;
  background-color: white;
  width: 70%;
  padding: 5% 5% 5% 10%;
  box-shadow: 0 0 10px silver;
  line-height: 1.5;
  font-size: small;
}
.section-aboutme .container .container-text h3 {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}
.section-aboutme .container .container-text p {
  font-family: "Nunito", sans-serif;
}

@media (max-width: 768px) {
  .section-aboutme .container {
    width: 80%;
  }
  .section-aboutme .container .container-green {
    margin: 0;
    width: auto;
    order: -1;
    display: flex;
    flex-direction: column;
    transform: translateX(-30%) translateY(30%);
  }
  .section-aboutme .container .container-green .img-o {
    width: 250px;
    position: absolute;
    transform: translateY(55%);
  }
  .section-aboutme .container .container-text {
    margin: 0;
    width: 100%;
    padding-right: 50%;
  }
}
@media (max-width: 576px) {
  .section-aboutme {
    margin-bottom: -375px;
  }
  .section-aboutme .container {
    width: 90%;
    overflow: hidden;
  }

  .section-aboutme .container .img-r {
    display: inherit;
    height: 375px;
    transform: translateY(-100%);
  }
  .section-aboutme .container .container-text {
    width: 100%;
    padding: 40px;
  }
  .section-aboutme .container .container-text .padding {
    width: 50%;
  }
  .section-aboutme .container .container-green img {
    display: none;
  }
}
.section-testimonials {
  width: 100vw;
  height: auto;
  margin: 50px 0;
  padding: 50px 100px;
  background-image: url("../../images/testimonials/background.png");
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
}
.section-testimonials h3 {
  font-size: xx-large;
  font-family: "PT Sans Narrow", sans-serif;
  text-align: left;
  color: white;
  padding-left: 140px;
}
.section-testimonials .splide-testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  width: 100%;
}
.section-testimonials .splide-testimonial .box {
  background-color: white;
  border-radius: 10px;
  padding: 10px 25px;
  width: 60%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
}
.section-testimonials .splide-testimonial .box .title {
  font-size: x-large;
  color: #686868;
  margin-bottom: 15px;
  font-family: "Rajdhani", sans-serif;
}
.section-testimonials .splide-testimonial .box .testimonial {
  font-size: medium;
  color: #a7a7a7;
  font-family: "Nunito", sans-serif;
}
.section-testimonials .splide-testimonial .box .box-pico {
  align-self: center;
  position: absolute;
  bottom: -20px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
}
.section-testimonials .splide-testimonial .autor {
  margin-top: 25px;
  font-size: large;
  color: white;
  font-family: "Rajdhani", sans-serif;
}

@media (max-width: 768px) {
  .section-testimonials {
    padding: 50px 10px;
  }
  .section-testimonials .splide-testimonial .box {
    width: 80%;
    height: 250px;
  }
}
@media (max-width: 576px) {
  .section-testimonials {
    padding: 50px 5px;
  }
  .section-testimonials .splide-testimonial .box {
    width: 90%;
    height: 250px;
  }
  .section-testimonials .splide-testimonial .box .box-pico {
    bottom: -20px;
  }
}
.section-contact {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.section-contact .box {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 30px 40px 60px;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.438);
}
.section-contact .box .message {
  display: flex;
  flex-direction: column;
}
.section-contact .box .message .title {
  background-color: lightgreen;
  padding: 5px 10px;
  font-family: "Rajdhani", sans-serif;
  color: white;
  font-size: xx-large;
  font-weight: bold;
  width: 160px;
  text-align: center;
  position: absolute;
  transform: translateY(-140%);
}
.section-contact .box .message .field {
  font-family: "Roboto", sans-serif;
  font-size: small;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  color: #a7a7a7;
}
.section-contact .box .message .field label {
  margin: 3px 0;
}
.section-contact .box .message .field input {
  height: 30px;
}
.section-contact .box .message .field textarea {
  resize: none;
}
.section-contact .box .message .field input,
.section-contact .box .message .field textarea {
  border: none;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.438);
  border-radius: 10px;
}
.section-contact .box .message button {
  align-self: center;
  border: none;
  background-color: lightgreen;
  padding: 5px 20px;
  border-radius: 10px;
  color: white;
}
.section-contact .box .contact {
  position: relative;
  transform: translateY(-60px) translateX(60px);
  background-color: lightgreen;
  padding: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.section-contact .box .contact .field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-contact .box .contact .field img {
  width: 50%;
  margin: 5px;
}
.section-contact .box .contact .field p {
  text-align: center;
  font-size: xx-small;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 576px) {
  .section-contact .box {
    width: 90%;
    transform: none;
    margin: 0;
    padding: 40px;
  }
  .section-contact .box .contact {
    background-color: transparent;
    width: 100%;
    position: block;
    transform: none;
    color: #686868;
  }
  .section-contact .box .contact .field {
    margin: 15px 0;
  }
  .section-contact .box .message {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
.carousel-caption {
  background-color: rgba(144, 238, 144, 0.8);
  color: black;
  padding: 10px;
  border-radius: 15px;
  font-size: 15px;
}
.carousel-indicators [data-bs-target] {
  background-color: black !important;
}
.carousel-indicators {
  margin-bottom: 0px;
}
.carousel-item img {
  margin: auto;
  max-height: 600px;
}
.carousel-control-next,
.carousel-control-prev {
  color: black !important;
}
.texto-chico {
  font-size: 12px;
  font-weight: bold;
}
.texto-chico ul {
  list-style-type: none;
  margin-bottom: 0px !important;
}
