<footer>
  <a href="/" class="logo">
    <img src="/images/logo.png" alt="Doctora Liza Klein Logo" />
    <div class="text">
      <span>Dra. Liza Klein</span>
      <span>HALITOSIS</span>
    </div>
  </a>
  <div class="links">
    <span id="footerLinkAbout">SOBRE MI</span>
    <span id="footerLinkInfo">HALITOSIS</span>
    <span id="footerLinkStats">ESTADISTICAS</span>
    <span id="footerLinkTestimonials">TESTIMONIOS</span>
    <span id="footerLinkContact">CONTACTO</span>
  </div>
  <div class="social">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-linkedin"></i>
    <i class="fab fa-instagram"></i>
  </div>
</footer>
