<section class="section-contact" id="sectionContact">
  <div class="box" data-aos="zoom-in">
    <form class="message" action="/message" method="post" id="form-message">
      <label class="title">MENSAJE</label>
      <div class="field" data-aos="fade-up">
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="field" data-aos="fade-up">
        <label for="email">Correo</label>
        <input type="email" name="email" id="email" />
      </div>
      <div class="field" data-aos="fade-up">
        <label for="subject">Asunto</label>
        <input type="text" name="subject" id="subject" />
      </div>
      <div class="field" data-aos="fade-up">
        <label for="message">Mensaje</label>
        <textarea name="message" id="message" cols="30" rows="10"></textarea>
      </div>
      <button type="submit">ENVIAR</button>
    </form>
    <div class="contact">
      <div class="field" data-aos="flip-left">
        <img src="/images/telemarketing.jpg" id="calendar" alt="" />
        <p>15-2-467-6211</p>
        <p>Internacional : +54-911-2-467-6211</p>
      </div>
      <div class="field" data-aos="flip-left">
        <img src="/images/wpp.png" alt="" id="whatsapp" />
        <div>
          <p>+1 786-609-1363</p>
          <p>24/7</p>
        </div>
      </div>
      <div class="field" data-aos="flip-left">
        <img
          src="/images/contact/mail.png"
          alt=""
          id="whatsapp"
          style="max-width: 35px"
        />
        <div>
          <p>Info@dralizaklein.com</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-contact">
  <div style="text-align: center">
    <img
      src="/images/edificio.jpeg"
      alt=""
      style="border-radius: 15px; width: 90%; padding-bottom: 20px"
    />
    <div>
      <p>Sucre 1530 3ro 17</p>
      <p>Edificio Liberateur</p>
      <p>Cp: 1428</p>
      <p>Belgrano, CABA</p>
    </div>
  </div>
</section>
