<section class="section-info" id="sectionInfo">
    <div class="container" data-aos="fade-down">
        <div class="container-green" >
            <h3>¿QUÉ ES LA HALITOSIS?</h3>
        </div>
        
        <div class="container-text" data-aos="fade-up" data-aos-delay="300">
            <p>Halitosis proviene del latín Halitus: aliento y Osis: Condición coloquialmente llamada: MAL ALIENTO<br><br>Es un sintoma que indica que algo que no está funcionando bien en nuestro organismo. A veces es indicador de una enfermedad sistémica grave y ayuda a tratarla a tiempo y otras veces indica la presencia en exceso de bacterias anaeróbicas, provocando una infección que puede ocasionar una enfermedad. En la mayoría de los casos es una replicación exagerada de dichas bacterias provocada por una película que se adhiere sobre la cara superior de la lengua, generando un espacio anaeróbico. Su nombre es lengua saburral y es una LENGUA BLANCA , que puede ser un indicador de la formacion de unas  bacterias llamadas helicobacter pylori que son cancerigenas . El origen de la lengua blanca esta en la diferencia de altura entre las papilas gustativas (lengua retentiva). Dichas bacterias liberan compuestos volátiles sulfurosos provocando mal olor que varía su distancia entre 10 cm a más de un metro. <br><br>Al día de hoy existen 72 causas hasta hoy conocidas y cada una de ellas genera un aroma característico. Se puede tener una sola causa o más de una.</p>
        </div>

        <img style="height: 24vw; width: 12vw" src="/images/info/mujer.png" alt="">
    </div>
</section>